<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="TemplateMo">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">


  <title>Home Page</title>

 
  <link href="/css/bootstrap.min.css" rel="stylesheet">



  <link rel="stylesheet" href="/stylesheets/fontawesome.css">
  <link rel="stylesheet" href="/stylesheets/templatemo-edu-meeting.css">
  <link rel="stylesheet" href="/stylesheets/owl.css">
  <link rel="stylesheet" href="/stylesheets/lightbox.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="/stylesheets/statics23.css">


</head>



<body>

    <section class="upcoming-meetings" id="meetings">
        <div class="" id="container">

            <header class="header-area header-sticky">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <nav class="main-nav">
                                <!-- ***** Logo Start ***** -->
                                <a href="index" class="logo">
                                    <img src="/images/logo_white.png" alt="JMI">
                                    PLACEMENT CELL
                                </a>
                                <!-- ***** Logo End ***** -->
                                <!-- ***** Menu Start ***** -->
                                <ul class="nav">
                                    <li><a href="index">Home</a></li>
                                    <li><a href="test-student-login">Student Login</a></li>
                                    <li><a href="recruiter-login">Recruiter Login</a></li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Placement Stats </a>
                                        <ul class="sub-menu">
                                            <li><a href="placement-states-2023">2023</a></li>
                                            <li><a href="placement-states-2022">2022</a></li>
                                            <li><a href="placement-states-2021">2021</a></li>
                                        </ul>
                                    </li>
                                    <li class="scroll-to-section"><a href="index#contact">Contact Us</a></li>
                                </ul>
                                <a class='menu-trigger'>
                                    <span>Menu</span>
                                </a>
                                <!-- ***** Menu End ***** -->
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
            <!-- ***** Header Area End ***** -->
            <form class="form-signin">
                <h3>Placement Stat 2023</h3>
                <table>
                    <thead>
                        <tr>
                            <th>SI No.
                            <th>Company
                            <th>CT(in lakhs)
                            <th>No. of Offers


                    </thead>
                    <tbody>
                        <tr>
                            <td>1
                            </td>
                            <td>
                                Accenture</td>
                            <td>
                                12.59</td>
                            <td>24
                            </td>
                        </tr>
                        <tr>
                            <td>2
                            </td>
                            <td>
                                Amantya</td>
                            <td>8
                            </td>
                            <td>5
                            </td>
                        </tr>
                        <tr>
                            <td>3
                            </td>
                            <td>
                                Avansant</td>
                            <td>
                                10.56</td>
                            <td>1
                            </td>
                        </tr>
                        <tr>
                            <td>4
                            </td>
                            <td>
                                HSBC</td>
                            <td>9
                            </td>
                            <td>7
                            </td>
                        </tr>
                        <tr>
                            <td>5
                            </td>
                            <td>
                                Incedo</td>
                            <td>
                                5.55</td>
                            <td>5
                            </td>
                        </tr>
                        <tr>
                            <td>6
                            </td>
                            <td>
                                Info Edge</td>
                            <td>
                                14.5</td>
                            <td>4
                            </td>
                        </tr>
                        <tr>
                            <td>7
                            </td>
                            <td>
                                meta16labs</td>
                            <td>17
                            </td>
                            <td>3
                            </td>
                        </tr>
                        <tr>
                            <td>8
                            </td>
                            <td>
                                Samsung</td>
                            <td>
                                14.5</td>
                            <td>10
                            </td>
                        </tr>
                        <tr>
                            <td>9
                            </td>
                            <td>
                                Truminds</td>
                            <td>6
                            </td>
                            <td>1
                            </td>
                        </tr>
                        <tr>
                            <td>10
                            </td>
                            <td>
                                Zenon Analytics</td>
                            <td>14
                            </td>
                            <td>4
                            </td>
                        </tr>

                        <tr>
                            <td>11
                            </td>
                            <td>ZS
                                Associates</td>
                            <td>
                                12.84</td>
                            <td>7
                            </td>
                        </tr>
                        <tr>
                            <td>12
                            </td>
                            <td>
                                Lumiq AI</td>
                            <td>8
                            </td>
                            <td>1
                            </td>
                        </tr>
                        <tr>
                            <td>13
                            </td>
                            <td>
                                Hexaview Technologies</td>
                            <td>6
                            </td>
                            <td>1
                            </td>
                        </tr>
                        <tr>
                            <td>14
                            </td>
                            <td>
                                Digit Insurance</td>
                            <td>8
                            </td>
                            <td>3
                            </td>
                        </tr>
                        <tr>
                            <td>15
                            </td>
                            <td>EXL
                                Analytics</td>
                            <td>6.5
                            </td>
                            <td>20
                            </td>
                        </tr>
                        <tr>
                            <td>16
                            </td>
                            <td>
                                Reliance Jio</td>
                            <td>7
                            </td>
                            <td>27
                            </td>
                        </tr>
                        <tr>
                            <td>17
                            </td>
                            <td>
                                KPMG</td>
                            <td>7
                            </td>
                            <td>10
                            </td>
                        </tr>
                        <tr>
                            <td>18
                            </td>
                            <td>
                                L&amp;amp;T</td>
                            <td>6
                            </td>
                            <td>2
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>

        </div>
    </section>


</body>

</html>