<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="TemplateMo">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">


  <title>Home Page</title>

 
  <link href="/css/bootstrap.min.css" rel="stylesheet">



  <link rel="stylesheet" href="/stylesheets/fontawesome.css">
  <link rel="stylesheet" href="/stylesheets/templatemo-edu-meeting.css">
  <link rel="stylesheet" href="/stylesheets/owl.css">
  <link rel="stylesheet" href="/stylesheets/lightbox.css">
  <link rel="stylesheet" href="/stylesheets/statics22-21.css">


</head>



<body>

    <section class="upcoming-meetings" id="meetings">
        <div class="" id="container">

            <header class="header-area header-sticky">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <nav class="main-nav">
                                <!-- ***** Logo Start ***** -->
                                <a href="index" class="logo">
                                    <img src="/images/logo_white.png" alt="JMI">
                                    PLACEMENT CELL
                                </a>
                                <!-- ***** Logo End ***** -->
                                <!-- ***** Menu Start ***** -->
                                <ul class="nav">
                                    <li><a href="index">Home</a></li>
                                    <li><a href="test-student-login">Student Login</a></li>
                                    <li><a href="recruiter-login">Recruiter Login</a></li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Placement Stats </a>
                                        <ul class="sub-menu">
                                            <li><a href="placement-states-2023">2023</a></li>
                                            <li><a href="placement-states-2022">2022</a></li>
                                            <li><a href="placement-states-2021">2021</a></li>
                                        </ul>
                                    </li>
                                    <li class="scroll-to-section"><a href="index#contact">Contact Us</a></li>
                                </ul>
                                <a class='menu-trigger'>
                                    <span>Menu</span>
                                </a>
                                <!-- ***** Menu End ***** -->
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
            <!-- ***** Header Area End ***** -->
            <form class="form-signin">
                <h3>Placement Stat 2021</h3>
                <table>
                    <thead>
                        <tr>
                            <th>SI No.
                            <th>Company
                            <th>CT(in lakhs)
                            <th>No. of Offers


                    </thead>
                    <tbody>
                        <tr>
                            <td>1
                            </td>
                            <td>
                                Unthinkable</td>
                            <td>6
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>2
                            </td>
                            <td>TCS
                                ninja</td>
                            <td>3.3
                            </td>
                            <td>9
                            </td>
                        </tr>
                        <tr>
                            <td>3
                            </td>
                            <td>TCS
                                digital</td>
                            <td>7
                            </td>
                            <td>19
                            </td>
                        </tr>
                        <tr>
                            <td>4
                            </td>
                            <td>
                                Josh Tech</td>
                            <td>9
                            </td>
                            <td>5
                            </td>
                        </tr>
                        <tr>
                            <td>5
                            </td>
                            <td>ZS
                            </td>
                            <td>
                                12.8</td>
                            <td>5
                            </td>
                        </tr>
                        <tr>
                            <td>6
                            </td>
                            <td>Exl
                            </td>
                            <td>6
                            </td>
                            <td>25
                            </td>
                        </tr>
                        <tr>
                            <td>7
                            </td>
                            <td>
                                Infoedge</td>
                            <td>
                                12.5</td>
                            <td>6
                            </td>
                        </tr>
                        <tr>
                            <td>8
                            </td>
                            <td>
                                Public Sapenit</td>
                            <td>10
                            </td>
                            <td>10
                            </td>
                        </tr>
                        <tr>
                            <td>9
                            </td>
                            <td>
                                Cognizant</td>
                            <td>4
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>10
                            </td>
                            <td>IBM
                            </td>
                            <td>4.5
                            </td>
                            <td>27
                            </td>
                        </tr>

                        <tr>
                            <td>11</td>
                            <td>Wipro</td>
                            <td>3.7</td>
                            <td>40</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>Delhivery</td>
                            <td>8</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>Incedo</td>
                            <td>5.5</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>BigOnotation</td>
                            <td>5.5</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>PureSoftware</td>
                            <td>8</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>16</td>
                            <td>L&amp;amp;T</td>
                            <td>6</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>17</td>
                            <td>OCCL</td>
                            <td>6</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>18</td>
                            <td>Dalberg</td>
                            <td>10</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>19</td>
                            <td>Digit genral Insurance</td>
                            <td>9</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>Zia Semiconductor</td>
                            <td>8</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>21</td>
                            <td>Tata Electronics</td>
                            <td>6</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>22</td>
                            <td>Dixon Technologies</td>
                            <td>6</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>23</td>
                            <td>Think Future Tech</td>
                            <td>5</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>24</td>
                            <td>Decimal Techs</td>
                            <td>5</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>25</td>
                            <td>Nayak softwares</td>
                            <td>6</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>26</td>
                            <td>Impetus</td>
                            <td>6</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>27</td>
                            <td>Hexaveue</td>
                            <td>6</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>28</td>
                            <td>Edwisor</td>
                            <td>6.6</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>29</td>
                            <td>Accenture</td>
                            <td>9.9</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>30</td>
                            <td>Lead Routes</td>
                            <td>N/A</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>31</td>
                            <td>SVI(AEC) Cambodia</td>
                            <td>600$/month</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>32</td>
                            <td>Optum</td>
                            <td>13.5</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>33</td>
                            <td>BITCS</td>
                            <td>8</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>34</td>
                            <td>Clarivate Analytics</td>
                            <td>6.5</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>35</td>
                            <td>Synoriq</td>
                            <td>6</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>36</td>
                            <td>Dhwani Rural Systems</td>
                            <td>6</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>37</td>
                            <td>Scalar Academy</td>
                            <td>8.5-9.5</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>38</td>
                            <td>Polestar Solutions</td>
                            <td>6</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>39</td>
                            <td>Samsung</td>
                            <td>14</td>
                            <td>42</td>
                        </tr>
                        <tr>
                            <td>40</td>
                            <td>Mobikwik</td>
                            <td>14.5</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>41</td>
                            <td>Digit General Insurance</td>
                            <td>7</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>42</td>
                            <td>Pure Software</td>
                            <td>6+2</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>43</td>
                            <td>Decimal Technologies</td>
                            <td>4.5/5</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>44</td>
                            <td>rtCamp</td>
                            <td>12-18</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>45</td>
                            <td>Calyxpod</td>
                            <td>3</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>46</td>
                            <td>Sopra Steria</td>
                            <td>5</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>47</td>
                            <td>Nuclei</td>
                            <td>6</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>48</td>
                            <td>Veneklasen Associates</td>
                            <td>5.4</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>49</td>
                            <td>BYJU&amp;#39;s</td>
                            <td>6</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>50</td>
                            <td>Acxiom</td>
                            <td>4.8</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>51</td>
                            <td>Orgzit</td>
                            <td>8</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>52</td>
                            <td>Amazon</td>
                            <td>25</td>
                            <td>7 </td>
                        </tr>

                    </tbody>
                </table>
            </form>

        </div>
    </section>


</body>

</html>